---
layout: project
title: Zeit time travel experiences
description: Introducing Zeit, an easy to use time travel tourism website to personalize your time travel experience.
permalink: /:collection/zeit.html
assetPath: /assets/images/projects/zeit/
---
{% include paginate.liquid %}

<div class="project-section">
  <div class="inner">
    <div class="pagination">
      <a class="prev" href="{{ prevProject.url }}">{% include previous-arrow.svg %} Previous</a>
      <a class="next" href="{{ nextProject.url }}">Next {% include next-arrow.svg %}</a>
    </div>

    <div class="project-description-container">
      <span class="project-title">Zeit</span>
      <span class="project-description">Responsive time travel tourism website</span>
      <div class="two-col-container pad-top">
        <div class="left desc">
          <span>Zeit is an easy to use time travel tourism website that makes browsing and booking trips a breeze. View trip details, select activities and filter via interests for an unique and personalized travel experience.</span>
          <span class="prototype-container">You can view the prototype <a href="{{ site.prototypePath }}zeit.html" target="_blank">here</a>.</span>
        </div>
        <div class="right">
          <a href="{{ page.assetPath }}laptop-showcase@2x.png" target="_blank"><img src="{{ page.assetPath }}laptop-showcase@2x.png" width="545" height="318"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>IDENTIFYING THE USER + PROBLEM</h2>
    <span>I conducted a competitive analysis and user interviews to understand the user and the current travel booking process. After collecting observations, I created an empathy map and storyboard to synthesize the data and identify the needs and frustrations of the user.</span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}competitive-analysis@2x.png" target="_blank"><img src="{{ page.assetPath }}competitive-analysis@2x.png" width="776" height="261"></a>
      <span>Competitive Analysis</span>
    </div>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}persona@2x.png" target="_blank"><img src="{{ page.assetPath }}persona@2x.png" width="774" height="424"></a>
      <span>Persona</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>INFORMATION ARCHITECTURE</h2>
    <span>Next, I determined the overlapping goals between business and the user as well as any technical challenges that may arise. From there, I created and prioritized a feature roadmap and developed the information architecture of the site which included a sitemap and user flow.</span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}business-and-user-goals@2x.png" target="_blank"><img src="{{ page.assetPath }}business-and-user-goals@2x.png" width="776" height="348"></a>
      <span>Business + User Goals</span>
    </div>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}user-flow@2x.png" target="_blank"><img src="{{ page.assetPath }}user-flow@2x.png" width="776" height="622"></a>
      <span>User Flow</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>RESPONSIVE WIREFRAMING</h2>
    <span>After building out the information architecture, I created low-fidelity wireframes of each screen and eventually upgraded those sketches to mid-fidelity and high-fidelity responsive wireframes. </span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}mid-fidelity-wireframe@2x.png" target="_blank"><img src="{{ page.assetPath }}mid-fidelity-wireframe@2x.png" width="776" height="1078"></a>
      <span>Mid-Fidelity Responsive Wireframe</span>
    </div>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}high-fidelity-wireframes@2x.jpg" target="_blank"><img src="{{ page.assetPath }}high-fidelity-wireframes@2x.jpg" width="774" height="1053"></a>
      <span>High-Fidelity Responsive Wireframe</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>BRANDING + UI DESIGN</h2>
    <span>To design the logo and the user interface components, I chose a few adjectives that I wanted the brand to reflect. From there, I researched design patterns, created a set of icons, a style tile and finally a UI Kit that best represented the brand message of Zeit.</span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}style-tile@2x.png" target="_blank"><img src="{{ page.assetPath }}style-tile@2x.png" width="773" height="1815"></a>
      <span>Style Tile</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>PROTOTYPING + ITERATING</h2>
    <span>To prototype, I used Invision and conducted an usability test with some participants from the initial user interviews and new participants. I then created an affinity map to organize the feedback and data which led me to a set of patterns that I prioritized and included in my next iteration.</span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}affinity-map@2x.png" target="_blank"><img src="{{ page.assetPath }}affinity-map@2x.png" width="776" height="796"></a>
      <span>Affinity Map</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner pad-spans">
    <h2>NEXT STEPS + CHALLENGES</h2>
    <span class="next-steps-pad-bottom">My next step consisted of creating a redlining document to handoff to developers. For this, I used Zeplin to created a comprehensive styleguide and included all the necessary assets.</span>
    <span>In terms of challenges, research was the one that stood out the most. Being in an innovative space, like time travel, there weren’t users that had prior experience so I had to focus on what core information I was really looking for. In the competitive analysis, I stuck to travel companies and services, but looking back, I should have included companies that thrived in innovation like SpaceX or Tesla. As with all challenges, I’ve learned something new that I will be able to apply in future projects. </span>

    <div class="pagination pagination-bottom">
      <a class="prev" href="{{ prevProject.url }}">{% include previous-arrow.svg %} Previous</a>
      <a class="next" href="{{ nextProject.url }}">Next {% include next-arrow.svg %}</a>
    </div>

  </div>
</div>
