---
layout: project
title: Heem - augmented reality interior design app
description: Introducing Heem, an augmented reality app that makes interior design painless and efficient.
assetPath: /assets/images/projects/heem/
---
{% include paginate.liquid %}

<div class="project-section no-pad-bottom">
  <div class="inner">
    <div class="pagination">
      <a class="prev" href="{{ prevProject.url }}">{% include previous-arrow.svg %} Previous</a>
      <a class="next" href="{{ nextProject.url }}">Next {% include next-arrow.svg %}</a>
    </div>

    <div class="project-description-container">
      <span class="project-title">Heem</span>
      <span class="project-description">Augmented Reality app for interior design</span>
      <div class="two-col-container pad-top">
        <div class="left desc">
          <span>Heem is an Augmented Reality app that makes interior design painless and efficient. It allows users to browse through a catalogue of furniture, place it in their room via AR and checkout.</span>
          <span class="prototype-container">You can view the prototype <a href="{{ site.prototypePath }}heem.html" target="_blank">here</a>.</span>
        </div>
        <div class="right">
          <a href="{{ page.assetPath }}overview@2x.jpg" target="_blank"><img src="{{ page.assetPath }}overview@2x.jpg" width="357" height="430"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>IDENTIFYING THE USER + PROBLEM</h2>
    <span>More and more businesses are trying to embed Augmented Reality (AR) and Virtual Reality (VR) but the user experience is not quite there yet. While Heem is the not the first AR furniture app, they aim to do it better with a large catalogue of furniture, AR capabilities, and seamless checkout. To start, I conducted a competitive analysis and user interviews to gage the demand of such app and what pain points users are experiencing with the current furniture shopping process.</span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}competitive-analysis@2x.png" target="_blank"><img src="{{ page.assetPath }}competitive-analysis@2x.png" width="776" height="292"></a>
      <span>Competitive Analysis</span>
    </div>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}persona-v-2@2x.jpg" target="_blank"><img src="{{ page.assetPath }}persona-v-2@2x.jpg" width="775" height="501"></a>
      <span>Persona</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>STRATEGY</h2>
    <span>Once the problem was identified, I began ideating and brainstorming solutions using the mind-mapping technique. It helped me generate ideas quickly without overthinking. I then determined the overlapping goals between the business and user and the technical considerations based on the solutions I selected. This helped to revisit the goals of each side and ensure that the solution fulfilled the need of both. The technical considerations is also a good way to think about the feasibility from an engineering standpoint and what challenges may arise. </span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}brainstorm@2x.png" target="_blank"><img src="{{ page.assetPath }}brainstorm@2x.png" width="776" height="500"></a>
      <span>Brainstorming</span>
    </div>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}business-and-user-goals@2x.png" target="_blank"><img src="{{ page.assetPath }}business-and-user-goals@2x.png" width="775" height="347"></a>
      <span>Business and User Goals</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>INFORMATION ARCHITECTURE</h2>
    <span>For the information architecture, I looked to my feature roadmap and focused on the priority 1 features or the features for the MVP. I started by creating a sitemap first to view the app as a whole and then a user task flow to drill down to each interaction a user would come across. The next thing I did was create a UI requirements document to provide a guideline for my wireframes.</span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}user-flow@2x.png" target="_blank"><img src="{{ page.assetPath }}user-flow@2x.png" width="777" height="471"></a>
      <span>User Task Flow</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>PROTOTYPING</h2>
    <span>I started with low-fidelity wireframes and then moved into a mid-high-fidelity for more realistic look and feel for the usability testing. I left some of the icons and images mid-fidelity because they wouldn’t have that large of an impact for the purpose of testing.</span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}prototype@2x.png" target="_blank"><img src="{{ page.assetPath }}prototype@2x.png" width="776" height="1698"></a>
      <span>Affinity Map</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner">
    <h2>TEST + ITERATE</h2>
    <span>Once I had my wireframes, I used POP by Marvel to prototype and conduct my usability test. From the feedback of the participants, I prioritized a list of improvements and implemented those that were high-priority and feasible within the time constraint. Next, after having designed the logo and branding, I updated my wireframes to reflect the style tile I created and the feedback from the testing. In the second iteration, I made the tutorial, AR, and sort/filter buttons larger and more discoverable. I also updated the product details page with more information and added reviews at the bottom of the screen.</span>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}heem-style-tile@2x.jpg" target="_blank"><img src="{{ page.assetPath }}heem-style-tile@2x.jpg" width="776" height="871"></a>
      <span>Brand Style Tile</span>
    </div>
    <div class="labeled-image-container">
      <a href="{{ page.assetPath }}iteration-2@2x.png" target="_blank"><img src="{{ page.assetPath }}iteration-2@2x.png" width="776" height="339"></a>
      <span>Iteration 2 updates</span>
    </div>
  </div>
</div>

<div class="project-section">
  <div class="inner pad-spans">
    <h2>CHALLENGES</h2>
    <span>I found working in the AR/VR field quite challenging because it is fairly new and there are still some limitations. The depth perception in some of the competiting apps were inaccurate and AR integration was a major technical consideration. It also showed to be a challenge when interviewing participants. In my user interviews, most participants have never used an AR app before so I took that into consideration when designing my prototype. However, in my usability testing, I found that most participants have used AR apps before and because of that were looking for more AR capabilities. It was interesting to see that difference and my assumption is that it was most likely due to the age difference.</span>
    <span>Overall, I’m happy I was able to work on an AR project like this and I would love to work on more. I think there are lots of use cases that can be experimented with and designed for using this technology. This was a good first project to learn about the capabilities of AR/VR and what the differences are. I know there are so many more features and functions I could add to this app and will probably do so in the future.</span>

    <div class="pagination pagination-bottom">
      <a class="prev" href="{{ prevProject.url }}">{% include previous-arrow.svg %} Previous</a>
      <a class="next" href="{{ nextProject.url }}">Next {% include next-arrow.svg %}</a>
    </div>

  </div>
</div>
