---
layout: default
title: Refugee Relief (RR)
description: Jessica L. Chang UX/UI design portfolio. Refugee Relief, an online platform that securely connects volunteers with refugees
assetPath: /assets/images/projects/refugee-relief/
---
{% include paginate.liquid %}

<div class="page project-page center">
  <div class="project-container">
    <div class="project-section">
      <div class="inner">
        <div class="pagination">
          <a class="prev" href="{{ prevProject.url }}">{% include previous-arrow.svg %} Previous</a>
          <a class="next" href="{{ nextProject.url }}">Next {% include next-arrow.svg %}</a>
        </div>

        <div class="project-description-container">
          <span class="project-title">{{ page.title }}</span>
          <span class="project-description">Responsive website connecting volunteers and refugees</span>
          <div class="two-col-container pad-top">
            <div class="left desc col-margin-rr">
              <span>Refugee Relief (RR) is an online platform that securely connects volunteers with refugees. The goal is to provide accessible and searchable services and resources during the resettlement process.</span>
              <span class="prototype-container">You can view the prototype <a href="{{ site.prototypePath }}refugee-relief.html" target="_blank">here</a>.</span>
            </div>
            <div class="right">
              <a href="{{ page.assetPath }}hi-fid-homepage@3x.jpg" target="_blank"><img src="{{ page.assetPath }}hi-fid-homepage.jpg" width="503" height="427"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="project-section">
      <div class="inner">
        <h2>IDENTIFYING THE USER + PROBLEM</h2>
        <span>The research phase of this project was crucial due to  US government regulations and the recent political discussions, for those reasons I chose to conduct secondary research, competitive analysis and user interviews. I then took all the data I gathered, organized them in an empathy map and created a persona.</span>
        <div class="labeled-image-container">
          <a href="{{ page.assetPath }}persona@3x.png" target="_blank"><img src="{{ page.assetPath }}persona.png" width="775" height="478"></a>
          <span>Persona</span>
        </div>
        <div class="labeled-image-container">
          <a href="{{ page.assetPath }}pov-hmw.svg" target="_blank"><img src="{{ page.assetPath }}pov-hmw.svg" width="777" height="488"></a>
          <span>Point of View Statements and How Might We Questions</span>
        </div>
      </div>
    </div>

    <div class="project-section">
      <div class="inner">
        <h2>INFORMATION ARCHITECTURE</h2>
        <span>After brainstorming ideas, identifying the overlapping goals and technical challenges, I created and prioritized a feature roadmap. This led to creating a sitemap and user flow.</span>
        <div class="labeled-image-container">
          <a href="{{ page.assetPath }}user-flow@3x.png" target="_blank"><img src="{{ page.assetPath }}user-flow.png" width="775" height="587"></a>
          <span>User Flow</span>
        </div>
      </div>
    </div>

    <div class="project-section">
      <div class="inner">
        <h2>RESPONSIVE WIREFRAMING</h2>
        <span>The next step was to sketch out low-fidelity wireframes, translate them to mid-fidelity and finally high-fidelity responsive wireframes. </span>
        <div class="labeled-image-container">
          <a href="{{ page.assetPath }}mid-homepage-wireframes@3x.png" target="_blank"><img src="{{ page.assetPath }}mid-homepage-wireframes.png" width="776" height="1187"></a>
          <span>Mid-Fidelity Homepage</span>
        </div>
        <div class="labeled-image-container">
          <a href="{{ page.assetPath }}mid-resources-page@3x.png" target="_blank"><img src="{{ page.assetPath }}mid-resources-page.png" width="775" height="1078"></a>
          <span>Mid-Fidelity Resources Page</span>
        </div>
      </div>
    </div>

    <div class="project-section">
      <div class="inner">
        <h2>PROTOTYPING + TESTING</h2>
        <span>To prototype and test, I used Invision and recruited participants for my usability test. I then created an affinity map to help organize my observations and notes and identified patterns. These patterns led to improvements which I prioritized and implemented in my high-fidelity wireframes. </span>
        <div class="labeled-image-container">
          <a href="{{ page.assetPath }}affinity-map@3x.png" target="_blank"><img src="{{ page.assetPath }}affinity-map.png" width="776" height="845"></a>
          <span>Affinity Map</span>
        </div>
      </div>
    </div>

    <div class="project-section">
      <div class="inner">
        <h2>LOGO DESIGN + BRANDING</h2>
        <span>I wanted the logo and branding to reflect a sense of hopefulness, support, openness, and new beginnings. Through numerous sketches and digitized logos, I decided on a logo of a bird. In many cultures, a bird symbolizes much of the adjectives I was looking for but also freedom and perspective.  In terms of color, green was my first choice because it represents freshness, growth, and renewal. </span>
        <div class="labeled-image-container">
          <div class="logo-iterations">
            <a href="{{ page.assetPath }}logo-v-1.svg" target="_blank"><img src="{{ page.assetPath }}logo-v-1.svg" width="106" height="127"></a>
            <a href="{{ page.assetPath }}logo-v-2.svg" target="_blank"><img src="{{ page.assetPath }}logo-v-2.svg" width="92" height="127"></a>
            <a href="{{ page.assetPath }}logo-v-3.svg" target="_blank"><img src="{{ page.assetPath }}logo-v-3.svg" width="82" height="127"></a>
          </div>
          <span>Logo</span>
        </div>
        <div class="labeled-image-container">
          <a href="{{ page.assetPath }}style-tile@3x.jpg" target="_blank"><img src="{{ page.assetPath }}style-tile.jpg" width="776" height="894"></a>
          <span>Style Tile</span>
        </div>
      </div>
    </div>

    <div class="project-section">
      <div class="inner">
        <h2>ITERATING</h2>
        <span>With improvements and the UI design in hand, I created my first iteration of  high-fidelity wireframes. After a session with my mentor and a group crit, I received similar feedback regarding the resources page. It was still overwhelming and unclear as to what a volunteer vs a refugee should be doing.  For that reason, I decided to create two different paths for volunteers and refugees. </span>

        <div class="two-col-container pad-top">
          <div class="left col-margin-rr-iterating-right">
            <div class="labeled-image-container">
              <a href="{{ page.assetPath }}resource-pg-1@3x.png" target="_blank"><img src="{{ page.assetPath }}resource-pg-1.png" width="350" height="577"></a>
              <span>Resources Page - Iteration 1</span>
            </div>
          </div>
          <div class="right">
            <div class="labeled-image-container col-margin-rr-iterating-bottom">
              <a href="{{ page.assetPath }}resource-pg-2@3x.png" target="_blank"><img src="{{ page.assetPath }}resource-pg-2.png" width="376" height="240"></a>
              <span>Resources Page - Iteration 2</span>
            </div>
            <div class="labeled-image-container">
              <a href="{{ page.assetPath }}volunteer-resource-pg@3x.png" target="_blank"><img src="{{ page.assetPath }}volunteer-resource-pg.png" width="376" height="620"></a>
              <span>Volunteers Page - Iteration 2</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="project-section">
      <div class="inner">
        <h2>NEXT STEPS + CHALLENGES</h2>
        <span class="next-steps-pad-bottom">My next step would be to conduct another usability test and based on the feedback, implement high-priority changes as needed. I would then create a redlining document to handoff to developers but I would still like to be able to gather more research from the refugee side of the platform specifically what their needs and goals are.</span>
        <span>Research once again was challenging but this time due to confidentiality agreements and legal implications for interviewing refugees. Working within a 2-week time constraint was also posed a challenge to set up meetings and go through the proper channels to meet face-to-face with refugees. Because of those reasons, I shifted to focus on the volunteer side of the platform and what goals and frustrations they face. Overall, this project taught me to be flexible, to reprioritize features and that the design process is not linear.</span>

        <div class="pagination pagination-bottom">
          <a class="prev" href="{{ prevProject.url }}">{% include previous-arrow.svg %} Previous</a>
          <a class="next" href="{{ nextProject.url }}">Next {% include next-arrow.svg %}</a>
        </div>

      </div>
    </div>


  </div>
</div>
