<div id="contact-modal">
  <div class="contact-info">
    <span class="contact-header-text">SAY HI</span>
    <span class="contact-desc">Thanks for taking the time to stop by. Feel free to reach out and drop me a line. I’d love to chat!</span>
    <div class="contact-details social-media-list">
      <div class="contact-details-row">
        <div class="social-media-icon location-icon"></div>
        <span>{{ site.location }}</span>
      </div>

      <div class="contact-details-row">
        <div class="social-media-icon phone-icon"></div>
        <span>{{ site.phone }}</span>
      </div>

      <a href="mailto:{{ site.email }}" class="contact-details-row">
          <div class="social-media-icon email-icon">
            {% include icon-mail.svg %}
          </div>
          <span>{{ site.email }}</span>
      </a>
    </div>

    <div class="social-media-list">
      <a href="{{ site.linkedin }}" class="social-media-icon margin-excl-first-child linkedin-icon">
        {% include icon-linkedin.svg %}
      </a>
      <a href="{{ site.dribble }}" class="social-media-icon margin-excl-first-child dribbble-icon">
        {% include icon-dribbble.svg %}
      </a>
      <a href="{{ site.pinterest }}" class="social-media-icon margin-excl-first-child pinterest-icon">
        {% include icon-pinterest.svg %}
      </a>
      <a href="{{ site.instagram }}" class="social-media-icon margin-excl-first-child instagram-icon">
        {% include icon-instagram.svg %}
      </a>
    </div>
  </div>

  <form id="contact-form" class="material-design">
    <img src="{{ '/assets/images/exit-icon.svg' | relative_url }}" id="contact-close-icon">

    <div class="form-row flex-row">
      <div class="form-group form-col-2">
        <input type="text" required="required" id="first-name">
        <label class="control-label" for="input">FIRST NAME *</label><i class="bar"></i>
      </div>

      <div class="form-group form-col-2">
        <input type="text" required="required" id="last-name">
        <label class="control-label" for="input">LAST NAME*</label><i class="bar"></i>
      </div>
    </div>

    <div class="form-group form-row">
      <input type="text" required="required" id="email">
      <label class="control-label" for="input">EMAIL ADDRESS *</label><i class="bar"></i>
    </div>

    <div class="form-group form-row form-col-1">
      <input type="text" required="required" id="subject">
      <label class="control-label" for="input">SUBJECT *</label><i class="bar"></i>
    </div>

    <div class="form-group form-row">
      <input type="text" required="required" id="message">
      <label class="control-label" for="input">MESSAGE *</label><i class="bar"></i>
    </div>

    <div class="submit-row">
      <span><span class="asterisk">*</span> Required Fields</span>
      <button type="button" id="contact-submit-button">SEND</button>
    </div>

  </form>
</div>
