{% include page-vars.liquid %}

<footer class="site-footer {{ footerClassnames }}">
  {% if showFooterDivider == true %}
  <div class="divider"></div>
  {% endif %}

  <div class="footer-container {% if showFooterDivider == true %} no-top-padding {% endif %}">
    <div class="social-media-list">
      <a href="mailto:{{ site.email }}" class="social-media-icon margin-excl-first-child email-icon">
        {% include icon-mail.svg %}
      </a>
      <a href="{{ site.linkedin }}" class="social-media-icon margin-excl-first-child linkedin-icon">
        {% include icon-linkedin.svg %}
      </a>
      <a href="{{ site.dribble }}" class="social-media-icon margin-excl-first-child dribbble-icon">
        {% include icon-dribbble.svg %}
      </a>
<!--      <a href="{{ site.pinterest }}" class="social-media-icon margin-excl-first-child pinterest-icon">-->
<!--        {% include icon-pinterest.svg %}-->
<!--      </a>-->
      <a href="{{ site.instagram }}" class="social-media-icon margin-excl-first-child instagram-icon">
        {% include icon-instagram.svg %}
      </a>
    </div>

    <span class="copyright">{{ site.name }} &copy; 2020</span>
  </div>
</footer>
