{% include page-vars.liquid %}

<header class="site-header {{ headerClassnames }}">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <div class="header-container">
    <a class="home-anchor" href="{{ "/" | relative_url }}">
      <div class="f fm">
  <!--      <div class="site-logo"></div>-->
        <span class="site-header-text">Jessica Chang</span>
      </div>
    </a>

    {% if page_paths %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger">
        <label for="nav-trigger">
          <span class="mobile-menu-icon"></span>
        </label>

        <div class="trigger">
          <a class="nav-link home-nav-link {% if page.url == '/' %} nav-current {% endif %}" href="{{ '/' | relative_url }}">Home</a>
          <a id="work-nav-link" class="nav-link {% if page.url contains '/projects/' %} nav-current {% endif %}" href="{{ '/' | relative_url }}#work">Work</a>
          <a class="nav-link {% if page.url == '/about.html' %} nav-current {% endif %}" href="{{ '/about.html' | relative_url }}">About</a>
          <a class="nav-link {% if page.url == '/contact.html' %} nav-current {% endif %}" href="{{ '/contact.html' | relative_url }}">Contact</a>

          <div id="navmenu-close-icon">{% include icon-exit.svg %}</div>
        </div>
      </nav>
    {% endif %}
  </div>
</header>
