<header class="site-header" role="banner">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  <a class="site-logo" href="{{ "/" | relative_url }}"></a>

  {% if page_paths %}
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger">
      <label for="nav-trigger">
        <div class="mobile-menu-icon"></div>
      </label>

      <div class="trigger">
        <a class="nav-link home-nav-link" href="{{ '/' | relative_url }}">Home</a>
        <a id="work-nav-link" class="nav-link" href="{{ '/' | relative_url }}#featured-work">Work</a>
        <a class="nav-link" href="{{ '/about' | relative_url }}">About</a>
        <a id="contact-nav-link" class="nav-link" href="#contact">Contact</a>
      </div>
    </nav>
  {% endif %}
</header>
