@charset "utf-8";

// Define defaults for each variable.
$max-page-width: 1440px !default;
$max-page-width-tablet: 768px !default;
$max-footer-width: 936px !default;
$max-footer-width-tablet: 718px !default;
$max-footer-width-mobile: 375px !default;

$page-margin: 12px !default;

$base-font-weight: 400 !default;
$background-color: #fff !default;

$on-mobile:        480px !default;
$on-tablet:        840px !default;
$on-large-tablet:   1050px !default;
$on-desktop:       1200px !default;

$dark-text-color:  #414343 !default;
$light-text-color: #fbfbfb;

$accent-color: #3d96ec;
$darker-accent-color: #296cac;

$button-color: $light-text-color;
$button-hover-color: $button-color;
$button-hover-bg-color: $darker-accent-color;
$button-active-color: $accent-color;
$button-active-bg-color: #fbfbfb;

$anchor-color: $accent-color;
$anchor-hover-color: $darker-accent-color;
$anchor-active-color: $darker-accent-color;

$gray1: #757575;
$gray2: $light-text-color;
$gray3: #585858;


@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/proxima_nova_regular_italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/proxima_nova_regular_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin raleway-font($weight: 400) {
  font-family: 'Raleway', sans-serif;
  font-weight: $weight;
}

@mixin lato-font($weight: 400) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
}

@mixin mont-font($weight: 400) {
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight;
}

@mixin proxima-font() {
  font-family: 'ProximaNova', sans-serif;
  font-weight: normal;
}

@mixin proximaitalic-font() {
  font-family: 'ProximaNova', sans-serif;
  font-weight: normal;
  font-style: italic;
}

@mixin proximabold-font() {
  font-family: 'ProximaNova', sans-serif;
  font-weight: bold;
}

// set all pseudo states for anchor tag to specified color
// DEFAULT: $dark-text-color to blend with page text
@mixin anchor-color($color: $dark-text-color, $fill: $color) {
    color: $color;
    svg > path { fill: $fill; }
    svg > g { stroke: $color; }

    &:visited {
      color: $color;
      svg > path { fill: $fill; }
      svg > g { stroke: $color; }
    }

    &:hover, &:active {
      color: $color;
      svg > path { fill: $fill; }
      svg > g { stroke: $color; }
    }
}

// responsive background image that maintains height/width ratio
// ratio = height/width ratio of image
@mixin bg-image($url, $ratio, $max-width: null, $max-height: null) {
  @if $max-width { max-width: $max-width; }
  @if $max-height { max-height: $max-height; }

  width: 100%;
  background: url($url) no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;

  .padding {
    height: 0px;
    display: block;
    padding-top: $ratio;
  }
}

// fixed size background image
@mixin bg-image-fixed($url, $width, $height) {
  width: $width;
  height: $height;
  background: url($url) no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

// default alpha 0.51 for things overlaying over components
@function overlay-value($alpha: 0.51) {
  @return rgba(65, 67, 67, $alpha)
}

// Import partials.
@import
  "main/base",
  "main/layout",
  "main/spinner",
  "main/index",
  "main/contact",
  "main/about",
  "main/projects",
  "main/newprojects"
;
