$page-width: 880px;
$page-width-tablet: 664px;
$page-width-mobile: 344px;

.about-page {
  .about-container {
    max-width: $page-width;
    margin: 70px $page-margin 100px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @include media-query($on-tablet) {
      max-width: $page-width-tablet;
    }
    @include media-query($on-mobile) {
      margin: 60px $page-margin;
      max-width: $page-width-mobile;
    }
  }

  .about-header {
    text-align: center;
    text-transform: uppercase;
    @include mont-font();
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.1px;
    margin-bottom: 70px;

    @include media-query($on-tablet) {
      font-size: 20px;
      line-height: 24px;
    }

    @include media-query($on-mobile) {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 50px;
    }
  }

  .about-images {
    width: $page-width;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-query($on-tablet) {
      width: $page-width-tablet;
      .img1, .img2 { max-width: 320px; height: 329px; }
    }
    @include media-query($on-mobile) {
      width: $page-width-mobile;
      justify-content: center;
      .img1 { max-width: 223px; height: auto; }
      .img2 { display: none; }
    }
  }

  .about-text {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.1px;
    margin: 70px 0px 100px;
    white-space: wrap;

    @include media-query($on-tablet) {
      font-size: 18px;
      line-height: 31px;
      letter-spacing: 0px;
    }

    @include media-query($on-mobile) {
      font-size: 14px;
      line-height: 26px;
      margin: 50px 0px 60px;
    }
  }

  .button {
    font-size: 15px;
    line-height: 18px;
    width: 143px;
    height: 40px;

    @include media-query($on-mobile) {
      width: 120px;
      height: 34px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
