/**
 * Basic styling
 */
html {
  width: 100%;

  // align page in center
  display: flex;
  justify-content: center;
  flex-direction: row;
}

body {
  padding: 0px;
  margin: 0px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  color: $text-color;
  background-color: $background-color;
  overflow-y: scroll;
  font-size: 16px;
  @include lato-font(300);
  line-height: 19px;
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}


/**
 * Links
 */
a {
  color: $text-color;
  text-decoration: none;

  svg > path {
    fill: $text-color;
  }
  svg > g {
    stroke: $text-color;
  }

  &:visited {
    color: $text-color;
  }

  &:hover {
    color: overlay-value(0.6);

    $svgcolor: #63a2aa;
    svg > path {
      fill: $svgcolor;
    }
    svg > g {
      stroke: $svgcolor;
    }
  }

  &:active {
    color: #63a2aa;
  }
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/**
 * Flex shorthands
 */
.f { display: flex; }

// flex middle vertical align (assuming flow-direction:row)
.fm { align-items: center; }

// flex center horizontal (assuming flow-direction:row)
.fc { justify-content: center; }

.frow { flex-direction: row; }
.fcol { flex-direction: column; }
