$on-mobile: 610px;

@import "main/materialdesign";

.contact-page {
  width: 100%; // needed so that modal will resize as viewport gets smaller. If omitted, modal stays same size and overflows outside viewport

  @include media-query($on-mobile) {
    flex-direction: column;
    margin-top: 10px; // give some margin to the top for small devices. Otherwise top section including close button is cut off
  }


  .contact-info {
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22px;
    @include lato-font(300);
    color: $dark-text-color;
    margin: 131px 78px 137px 0px;
    height: 503px;
    width: 299px;
    position: relative;

    a, .social-media-icon {
      color: $dark-text-color;
      svg > path { fill: $dark-text-color; }
      svg > g { stroke: $dark-text-color; }

      &:visited {
        color: $dark-text-color;
        svg > path { fill: $dark-text-color; }
        svg > g { stroke: $dark-text-color; }
      }

      &:hover, &:active {
        color: $accent-color;
        svg > path { fill: $accent-color; }
        svg > g { stroke: $accent-color; }
      }
    }

    @include media-query($on-tablet) {
      font-size: 14px;
      line-height: 17px;
      padding: 20px 22px 26px 16px;
      height: 402px;
      width: 236.7px;
    }

    @include media-query($on-mobile) {
      font-size: 12px;
      line-height: 15px;
      padding: 24px 18px 16px 18px;
      height: 253px;
      width: 345px;
    }

    .contact-header-text {
      @include lato-font();
      letter-spacing: -0.1px;
      font-size: 26px;
      line-height: 32px;
      display: block;
      margin-bottom: 16px;

      @include media-query($on-mobile) {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 8px;
      }
    }

    .contact-desc {
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0px;
    }

    .contact-details {
      margin-top: 70px;

      @include media-query($on-tablet) { margin-top: 60px; }
      @include media-query($on-mobile) { margin-top: 26px; }
    }

    .contact-details-row {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-top: 40px;
      }

      span {
        margin-left: 8px;
      }

      @include media-query($on-tablet) {
        &:not(:first-child) {
          margin-top: 24.5px;
        }
      }

      @include media-query($on-mobile) {
        &:not(:first-child) {
          margin-top: 17px;
        }
      }
    }

    .bottom-social-media-list {
      //position: absolute;
      width: 100%;
      //bottom: 35px;
      //left: 0px;
      box-sizing: border-box;
      margin-top: 108px;

      @include media-query($on-tablet) {
      }

      @include media-query($on-mobile) {
      }
    }

    .social-media-list {
      display: block;

      // shared
      .social-media-icon {
        @include media-query($on-tablet) {
          width: 12px;
          height: 12px;
        }
      }

      .margin-excl-first-child {
        @include media-query($on-tablet) {
          &:not(:first-child) {
            margin-left: 7px;
          }
        }
      }

      .location-icon {
        width: 22px;
        height: 22px;

        @include media-query($on-tablet) {
          width: 16px;
          height: 16px;
        }
      }

      .phone-icon {
        width: 19px;
        height: 19px;

        @include media-query($on-tablet) {
          width: 15px;
          height: 15px;
        }
      }

      .email-icon {
        width: 18px;
        height: 15px;
        position: relative;

        svg {
          position: absolute;
          top: 0px;
        }

        @include media-query($on-tablet) {
          width: 15px;
          height: 13px;
        }
      }
    }
  }

  #contact-form {
    display: inline-block;
    box-sizing: border-box;
    height: 503px;
    width: 560px;
    margin: 176px 0px 0px 0px;
    line-height: 18px;
    position: relative;
    @include lato-font(300);
    font-size: 15px;

    @include media-query($on-tablet) {
      font-size: 14px;
      line-height: 17px;
      padding: 40px 16px 16px 42px;
      width: 481px;
      height: 402px;
    }

    @include media-query($on-mobile) {
      font-size: 12px;
      line-height: 15px;
      padding: 32px 18px 18px 18px;
      width: 345px;
      height: 338px;
    }

    .error-color {
      color: #d0021b;
    }

    .error-label {
      @extend .error-color;
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 17px;
      position: absolute;
      margin-top: 8px;

      @include media-query($on-tablet) {
        font-size: 12px;
        line-height: 15px;
        margin-top: 4px;
      }
    }

    #first-name-error, #last-name-error, #email-error, #subject-error, #message-error {
      display: none;
    }

    .form-row {
      & > .form-group {
        margin: 0px;
      }
      margin-right: 31.5px;
      position: relative;

      @include media-query($on-tablet) { margin-right: 26px; }
      @include media-query($on-mobile) { margin-right: 0px; } //TODO validate
    }

    .flex-row {
      display: flex;
    }

    .submit-row {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      line-height: 22px;
      width: 100%;
      box-sizing: border-box;
      letter-spacing: 0px;
      font-size: 16px;
      padding-top: 45px; // 100px minus material designs input 55px padding
      color: rgba(65, 67, 67, 0.59);

      .asterisk { font-size: 18px; }
      button { margin-left: 30px; } // space between button and required text

      @include media-query($on-tablet) {
      }

      @include media-query($on-mobile) {
      }
    }

    .form-col-1 {
      width: 255px;
      @include media-query($on-tablet) { width: 168.5px; } // same on mobile
    }

    .form-col-2 {
      width: 210px;

      @include media-query($on-tablet) { width: 140.5px; } // same on mobile

      &:not(:last-child) {
        margin-right: auto;
      }
    }

    button {
      font-size: 16px;
      line-height: 19px;
      width: 82px;
      height: 33px;

      @include media-query($on-tablet) {
        width: 77px;
        height: 31px;
        font-size: 14px;
        line-height: 17px;
      }

      @include media-query($on-mobile) {
        width: 72px;
        height: 29px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

