@import "main/materialdesign";

.contact-page {
  width: 100%; // needed so that modal will resize as viewport gets smaller. If omitted, modal stays same size and overflows outside viewport

  // containing div for centering contact-info and form containers
  .contact-form-container {
    max-width: $max-footer-width;
    width: 100%;
    display: flex;
    margin: 0px $page-margin;
    justify-content: space-between;

    @include media-query($on-tablet) { max-width: $max-footer-width-tablet; }
    @include media-query($on-mobile) {
      flex-direction: column;
      max-width: $max-footer-width-mobile;
      margin-bottom: 70px;
      //margin-top: 10px; // give some margin to the top for small devices. Otherwise top section including close button is cut off
    }
  }

  .contact-info {
    display: inline-block;
    box-sizing: border-box;
    @include lato-font(300);
    color: $dark-text-color;
    margin: 131px auto 137px 0px;
    max-width: 299px;
    width: 100%;
    position: relative;

    @include media-query($on-tablet) {
      max-width: 227px;
    }

    @include media-query($on-mobile) {
      margin: 60px 0px 0px;
      max-width: 345px;
    }

    a, .social-media-icon {
      color: $dark-text-color;
      svg > path { fill: $dark-text-color; }
      svg > g { stroke: $dark-text-color; }

      &:visited {
        color: $dark-text-color;
        svg > path { fill: $dark-text-color; }
        svg > g { stroke: $dark-text-color; }
      }

      &:hover, &:active {
        color: $accent-color;
        svg > path { fill: $accent-color; }
        svg > g { stroke: $accent-color; }
      }
    }

    .contact-header-text {
      @include lato-font();
      letter-spacing: -0.1px;
      font-size: 26px;
      line-height: 32px;
      display: block;
      margin-bottom: 15px;

      @include media-query($on-mobile) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .contact-desc {
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0px;

      @include media-query($on-mobile) {
        font-size: 14px;
        line-height: 25px;
      }
    }

    .contact-details {
      margin-top: 70px;
      font-size: 18px;
      line-height: 22px;

      @include media-query($on-tablet) {
        font-size: 16px;
        line-height: 19px;
      }
      @include media-query($on-mobile) {
        font-size: 14px;
        line-height: 25px;
        margin-top: 40px;
      }
    }

    .contact-details-row {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-top: 40px;
      }

      span {
        margin-left: 8px;
      }

      @include media-query($on-mobile) {
        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }

    .bottom-social-media-list {
      width: 100%;
      box-sizing: border-box;
      margin-top: 100px;

      @include media-query($on-mobile) { margin-top: 40px; }
    }

    .social-media-list {
      display: block;

      // shared
      @include media-query($on-mobile) {
        .social-media-icon {
          width: 13px;
          height: 13px;
        }

        .margin-excl-first-child:not(:first-child) {
          margin-left: 10px;
        }
      }

      .location-icon {
        width: 22px;
        height: 18px;

        @include media-query($on-tablet) {
          width: 20px;
          height: 16px;
        }
        @include media-query($on-mobile) {
          width: 15px;
          height: 12px;
          position: relative;
          top: -6px;
        }
      }

      .phone-icon {
        width: 18px;
        height: 18px;

        @include media-query($on-tablet) {
          width: 17x;
          height: 17px;
        }
        @include media-query($on-mobile) {
          width: 13px;
          height: 13px;
          position: relative;
          top: -4px;
        }
      }

      .email-icon {
        width: 20px;
        height: 15px;
        position: relative;

        @include media-query($on-tablet) {
          width: 18px;
          height: 13px;
        }
        @include media-query($on-mobile) {
          width: 14px;
          height: 10px;
        }

        svg {
          position: absolute;
          top: 0px;
        }
      }
    }
  }

  #contact-form {
    display: inline-block;
    box-sizing: border-box;
    max-width: 560px;
    width: 100%;
    margin-top: 176px;
    line-height: 18px;
    position: relative;
    @include lato-font(300);
    font-size: 15px;

    @include media-query($on-tablet) {
      max-width: 427px;
    }

    @include media-query($on-mobile) {
      font-size: 13px;
      line-height: 16px;
      margin-top: 70px;
      max-width: 343px;
    }

    .error-color {
      color: #d0021b;
    }

    .error-label {
      @extend .error-color;
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 17px;
      position: absolute;
      margin-top: 8px;

      @include media-query($on-mobile) {
        font-size: 12px;
        line-height: 15px;
        margin-top: 4px;
      }
    }

    #first-name-error, #last-name-error, #email-error, #subject-error, #message-error {
      display: none;
    }

    .form-row {
      & > .form-group {
        margin: 0px;
      }
      position: relative;
    }

    .flex-row {
      display: flex;
    }

    .submit-row {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 16px;
      line-height: 22px;
      width: 100%;
      box-sizing: border-box;
      letter-spacing: 0px;
      padding-top: 45px; // 100px minus material designs input 55px padding
      color: rgba(65, 67, 67, 0.59);

      .asterisk { font-size: 18px; }
      button { margin-left: 30px; } // space between button and required text

      @include media-query($on-tablet) {
      }

      @include media-query($on-mobile) {
        font-size: 14px;
        line-height: 22px;
        padding-top: 34px; // 70px minus material designs input 36px padding
        button { margin-left: 20px; } // space between button and required text
      }
    }

    .form-col-1 {
      width: 100%;
      max-width: 210px;
      @include media-query($on-tablet) { max-width: 170px; }
      @include media-query($on-mobile) { max-width: 138px; }
    }

    .form-col-2 {
      width: 100%;
      max-width: 210px;
      @include media-query($on-tablet) { max-width: 170px; }
      @include media-query($on-mobile) { max-width: 138px; }

      &:not(:last-child) {
        margin-right: auto;
      }
    }

    button {
      font-size: 15px;
      line-height: 18px;
      width: 89px;
      height: 33px;

      @include media-query($on-mobile) {
        width: 71px;
        height: 28px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  #contact-spinner {
    display: none;
    width: 20px;
    height: 20px;
  }

  #contact-form-success {
    @extend #contact-form;

    display: none;
    text-align: center;

    h2 {
      font-size: 26px;
      line-height: 32px;
      padding: 0px;
      margin: 10px;
    }
  }
}
