.index-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include lato-font(400);
  letter-spacing: -0.1px;
  background-color: #fff;

  .intro-container {
    padding-top: 130px;
    padding-bottom: 100px;
    width: 936px;
  }

  .typed-container {
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 60px;
  }

  .typed-text, .typed-pretext { @include lato-font(700); }
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity:0; }
  }
  .typed-cursor {
    position: relative;
    top: -5px;
    left: -6px;
    animation: blink .7s infinite;
  }

  .long-intro {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 258px;
    display: block;
    max-width: 386px;
  }

  .scroll-down-anchor {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.3px;
    @include lato-font(700);

    & > span {
      position:relative;
      top: 1px;
    }
  }

  .scroll-down-icon {
    width: 12px;
    height: 7px;
    display: inline-block;
    margin-right: 4px;

    svg > path {
      stroke: #0f0f0f;
      fill: none;
    }
  }

  .two-col-container {
    width: 936px;

    .desc {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        padding: 0px;
        margin: 0px;
        font-size: 26px;
        line-height: 32px;
        @include lato-font(700);
        letter-spacing: 0.5px;
      }

      span {
        font-size: 20px;
        line-height: 30px;
        margin: 15px 0px 50px 0px;
        width: 400px;
      }

      a { width: fit-content; }
    }
  }

  .spotify-section {
    padding: 59px 0px;
  }
}


// alternating background colors
.alternating-section {
  background-color: #fbfbfb;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.alternating-section:nth-child(odd) {
  background-color: #fff;
}

