.hero-container {
  .top-bg {
    width: 100%;
    height: 202px;
    background-color: #fff;
  }
  .bottom-bg {
    width: 100%;
    height: 516px;
    background-color: #57b6c3;
  }

  @include media-query($on-mobile) {
    .top-bg {
      height: 183px;
    }
    .bottom-bg {
      height: 416px;
    }
  }

  // center inner container
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}



.hero-text-container {
  position: absolute;
  top: 80px;
  width: 100%;
  max-width: 868px;
  height: 382px;
  box-sizing: border-box;
  border: 4px solid overlay-value(0.75);
  background-color: #fff;
  overflow-x: hidden;

  @include media-query($on-tablet) {
    max-width: 718px;
  }

  @include media-query($on-mobile) {
    max-width: 345px;
    height: 326px;
    top: 70px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.scroll-down {
  $padding: 8px;

  width: 20px;
  height: 11px;
  padding: $padding;
  position: absolute;
  bottom: 40px - $padding;

  svg > path {
    fill: none;
  }

  @include media-query($on-mobile) {
    bottom: 31px - $padding;
  }
}

.home-hello {
  @include mont-font(700);
  font-size: 72px;
  letter-spacing: -0.2px;
  margin-bottom: 25px;
  line-height: 88px;

  @include media-query($on-tablet) {
    letter-spacing: -0.1px;
    font-size: 64px;
    line-height: 78px;
  }

  @include media-query($on-mobile) {
    font-size: 48px;
    line-height: 58px;
  }
}

.home-desc {
  @include mont-font();
  font-size: 46px;
  letter-spacing: -0.1px;
  line-height: 57px;
  max-width: 626px;
  text-align: center;

  @include media-query($on-tablet) {
    font-size: 40px;
    max-width: 556px;
    line-height: 49px;
  }

  @include media-query($on-mobile) {
    font-size: 24px;
    max-width: 295px;
    line-height: 29px;
  }
}

.section-header {
  @include lato-font(400);
  text-transform: uppercase;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.1px;
  padding: 90px 0px;
  display: block;
  text-align: center;

  @include media-query($on-mobile) {
    font-size: 18px;
    line-height: 22px;
  }
}

.featured-sections {
  .section-row {
    display: flex;
    justify-content: center;
    //text-align: center;
    position: relative;

    a {
      position: relative;
    }

    img {
      display: inline-block;
    }
  }
}

.featured-work {
  @include media-query($on-mobile) {
    max-width: 295px;
  }
}

.featured-work-desc {
  color: #fbfbfb;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.1px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  @include lato-font(400);
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
    background-color: overlay-value();
  }

  @include media-query($on-mobile) {
    display: none;
  }

  .featured-work-header {
    font-size: 36px;
    line-height: 44px;
    @include lato-font(700);
    margin-bottom: 18px;
    text-transform: uppercase;
  }
}
