.index-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include lato-font(400);
  letter-spacing: -0.1px;
  background-color: #fff;

  .intro-container {
    padding-top: 130px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

    @include media-query($on-mobile) {
      padding-top: 136px;
      padding-bottom: 60px;
    }

    & > div {
      width: $max-footer-width;
      margin: 0px $page-margin;

      @include media-query($on-tablet) { width: $max-footer-width-tablet; }
      @include media-query($on-mobile) { width: $max-footer-width-mobile; }
    }
  }

  .typed-container {
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 60px;

    @include media-query($on-mobile) {
      margin-bottom: 40px;
      font-size: 36px;
      line-height: 44px;
    }
  }

  .typed-text, .typed-pretext { @include lato-font(700); }
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity:0; }
  }
  .typed-cursor {
    position: relative;
    top: -5px;
    left: -6px;
    animation: blink .7s infinite;
  }

  .long-intro {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 258px;
    display: block;
    max-width: 386px;

    @include media-query($on-mobile) {
      font-size: 18px;
      line-height: 31px;
      max-width: 281px;
      margin-bottom: 217px;
    }
  }

  .scroll-down-anchor {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.3px;
    @include lato-font(700);
    @include anchor-color($dark-text-color, none);

    & > span {
      position:relative;
      top: 1px;
    }

    @include media-query($on-mobile) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  .scroll-down-icon {
    width: 12px;
    height: 7px;
    display: inline-block;
    margin-right: 4px;

    svg > path {
      stroke: #0f0f0f;
      fill: none;
    }

    @include media-query($on-mobile) {
      width: 10px;
      height: 6px;
      margin-right: 6px;
    }
  }

  .two-col-container {
    width: $max-footer-width;
    margin: 0px $page-margin;

    @include media-query($on-tablet) { width: $max-footer-width-tablet; }
    @include media-query($on-mobile) {
      width: $max-footer-width-mobile;
      flex-direction: column;

      // center images on mobile
      & > div:not(.desc) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }


    .desc {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media-query($on-mobile) {
        order: 0;
        padding-bottom: 60px;
      }

      h2 {
        padding: 0px;
        margin: 0px;
        font-size: 26px;
        line-height: 32px;
        @include lato-font(700);
        letter-spacing: 0.5px;

        @include media-query($on-tablet) {
          font-size: 24px;
          line-height: 29px;
        }
        @include media-query($on-mobile) {
          font-size: 18px;
          line-height: 22px;
        }
      }

      span {
        font-size: 20px;
        line-height: 30px;
        margin: 15px 0px 50px 0px;
        width: 400px;

        @include media-query($on-tablet) {
          font-size: 18px;
          width: 311px;
        }
        @include media-query($on-mobile) {
          font-size: 14px;
          line-height: 25px;
          width: 311px;
        }
      }
    }
  }

  .spotify-section {
    padding: 59px 0px;
    @include media-query($on-tablet) { padding: 57px 0px; }
    @include media-query($on-mobile) { padding: 60px 0px; }
  }

  @include media-query($on-tablet) {
    .spotify-section img { width: 373px; }
    .heem-section img, .rr-section img { width: 385px; }
    .zeit-section img { width: 390px; }
  }
  @include media-query($on-mobile) {
    .spotify-section img { width: 216px; }
    .heem-section img, .rr-section img { width: 244px; }
    .zeit-section img { width: 284px; }
  }
}


// alternating background colors
.alternating-section {
  background-color: $light-text-color;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;

  @include media-query($on-mobile) { padding-top: 60px; }
}
.alternating-section:nth-child(odd) {
  background-color: #fff;
}

