$header-height: 94px;

#page-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: overlay-value();
  z-index: 10;
}

/**
 * Site header
 */
.site-header {
  padding: 0px 40px;
  height: $header-height;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 30;

  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  @include media-query($on-tablet) {
    padding: 0px 25px;
  }

  @include media-query($on-mobile) {
    padding: 0px 15px;
  }
}

.site-logo {
  display: inline-block;
  @include bg-image-fixed('images/logo.svg', 19px, 38px);

  @include media-query($on-mobile) {
    width: 16px;
    height: 33px;
  }
}

.site-header-text {
  display: inline-block;
  padding-left: 12px;
  @include raleway-font(500);
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  // weird extra spacing
  span {
    letter-spacing: 0.2px;
  }

  @include media-query($on-tablet) {
    display: none;
  }
}

a.home-anchor {
  // block normal anchor hover and active states
  color: $dark-text-color;
  &:active, &:hover, &:visited { color: $dark-text-color; }

}

// encapsulates nav-links set
.trigger {
}

.site-nav {
  display: inline-block;

  .nav-trigger, .mobile-menu-icon {
    display: none;
  }

  // don't show home nav link on non-mobile devices
  .home-nav-link {
    display: none;
  }

  #navmenu-close-icon {
    display: none;
    position: absolute;
    top: 15px;
    left: 18px;
    width: 16px;
    height: 16px;
  }

  .trigger a.nav-link.nav-current {
    color: $accent-color;
  }

  a.nav-link {
    color: $dark-text-color;
    &:visited { color: $dark-text-color; }
    &:active { color: $accent-color; }
    &:hover { color: $darker-accent-color; }
    line-height: 17px;
    text-transform: uppercase;
    font-size: 14px;
    @include lato-font(400);

    // dont apply to mobile
    @media screen and (min-width: $on-mobile + 1) {
      &:not(:first-child) {
        margin-left: 50px;
      }
    }

    // menu items after opening menu from hamburger button
    @include media-query($on-mobile) {
      line-height: 22px;
      font-size: 18px;
      margin-top: 40px;

      &:first-child { margin-top: 51px; }
    }
  }

  @include media-query($on-mobile) {
    $menu-width: 282px;

    label[for="nav-trigger"] {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 36px;
      height: 36px;
      z-index: 2; // keep it over the menu icon
      cursor: pointer;
    }

    #navmenu-close-icon {
      display: block;
    }

    .home-nav-link {
      display: inline;
    }

    .mobile-menu-icon {
      @include bg-image-fixed('images/hamburger-menu.svg', 23px, 17px);
      display: block;
    }


    // trigger nav menu close
    input ~ .trigger {
      clear: both;
      display: none;
    }

    // trigger nav menu open
    input:checked ~ .trigger {
      //padding-bottom: 5px;
      width: $menu-width;
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100%;
      background-color: $light-text-color;
      box-shadow: -5px 1px 10px 0 overlay-value(0.38);

      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 20;
    }

  }
}


/**
 * Site footer
 */

// center the footer container
.site-footer {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding-top: 50px;

  a.social-media-icon {
    color: $dark-text-color;
    svg > path { fill: $dark-text-color; }
    svg > g { stroke: $dark-text-color; }

    &:visited {
      color: $dark-text-color;
      svg > path { fill: $dark-text-color; }
      svg > g { stroke: $dark-text-color; }
    }

    &:hover, &:active {
      color: $accent-color;
      svg > path { fill: $accent-color; }
      svg > g { stroke: $accent-color; }
    }
  }
}

.footer-container {
  box-sizing: border-box;
  border-top: 1px solid overlay-value(0.25);
  height: 76px;
  padding-top: 10px;
  max-width: 936px;
  width: 100%;

  @include media-query($on-tablet) {
    max-width: 617px;
    height: 56px;
  }

  @include media-query($on-mobile) {
    max-width: 295px;
    height: 38px;
  }

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  @include lato-font(300);
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;

  @include media-query($on-mobile) {
    font-size: 11px;
    line-height: 13px;
  }
}

.social-media-list {
  .margin-excl-first-child {
    &:not(:first-child) {
      margin-left: 13px;
    }

    @include media-query($on-mobile) {
      &:not(:first-child) {
        margin-left: 7px;
      }
    }
  }

  // shared
  .social-media-icon {

    display: inline-block;
    width: 16px;
    height: fit-content;

    @include media-query($on-mobile) {
      width: 12px;
    }
  }

  .email-icon {
    width: 16px;
    height: 13px;
    position: relative;

    @include media-query($on-mobile) {
      width: 12px;
      height: 10px;
    }
  }

  .phone-icon {
    background: url(images/phone-icon.png) no-repeat;
    background-size: contain;
    width: 19px;
    height: 19px;
  }

  .location-icon {
    background: url(images/location-icon.png) no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
  }
}


/**
 * Page content
 */
.page-content {
  width: 100%;
  background-color: $light-text-color;
  margin-top: $header-height;

  // default page font
  @include lato-font(300);
  font-size: 16px;
  line-height: 19px;
}

.pad-top { padding-top: 100px; }
.pad-bottom { padding-bottom: 100px; }

.page {
}

.center {
  display: flex;
  justify-content: center;
}
.cross-center {
  display: flex;
  align-items: center;
  align-content: center;
}



.two-col-container {
  display: flex;
  justify-content: space-between;

  .desc span {
    display: block;
  }

  .left {
    display: block;
    order: 1;
  }

  .right {
    display: block;
    order: 2;
  }

  img { display: inline-block; }
}

.three-col-container {
  display: flex;
  justify-content: space-between;

  .left {
    display: block;
    order: 1;
  }

  .middle {
    display: block;
    order: 2;
  }

  .right {
    display: block;
    order: 3;
  }

  img { display: inline-block; }
}


button {
  text-align: center;
  width: 133px;
  height: 33px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0px;
  border-radius: 2px;
  background-color: $accent-color;
  box-sizing: border-box;
  color: $button-color;
  outline: none;
  border: 0px;
  @include lato-font();

  &:hover {
    color: $button-hover-color;
    background-color: $button-hover-bg-color;
    cursor: pointer;
  }

  &:active {
    color: $button-active-color;
    background-color: $button-active-bg-color;
  }
}
