#page-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: overlay-value();
  z-index: 10;
}

/**
 * Site header
 */
.site-header {
  padding: 36px 40px 35px 40px;
  max-height: 111px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  @include media-query($on-tablet) {
    padding: 36px 25px 35px 25px;
  }

  @include media-query($on-mobile) {
    padding: 18px 15px 17px 15px;
  }
}

.site-logo {
  display: inline-block;
  @include bg-image-fixed('images/logo.svg', 20px, 40px);

  @include media-query($on-mobile) {
    width: 16px;
    height: 33px;
  }
}

.site-header-text {
  display: inline-block;
  padding-left: 10px;
  @include raleway-font(500);
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  // weird extra spacing
  span {
    letter-spacing: 0.2px;
  }

  @include media-query($on-tablet) {
    display: none;
  }
}

.home-anchor {
  // block normal anchor hover and active states
  &:hover {
    color: $text-color;
  }

  &:active {
    color: $text-color;
  }
}

// encapsulates nav-links set
.trigger {
}

.site-nav {
  display: inline-block;

  .nav-trigger, .mobile-menu-icon {
    display: none;
  }

  // don't show home nav link on non-mobile devices
  .home-nav-link {
    display: none;
  }

  #navmenu-close-icon {
    display: none;
    position: absolute;
    top: 15px;
    left: 18px;
    width: 16px;
    height: 16px;
  }

  .nav-link {

    line-height: 17px;
    text-transform: uppercase;
    font-size: 14px;
    @include lato-font(400);

    // dont apply to mobile
    @media screen and (min-width: $on-mobile + 1) {
      &:not(:first-child) {
        margin-left: 50px;
      }
    }

    // menu items after opening menu from hamburger button
    @include media-query($on-mobile) {
      line-height: 22px;
      font-size: 18px;
      margin-top: 40px;

      &:first-child { margin-top: 51px; }
    }
  }

  @include media-query($on-mobile) {
    $menu-width: 282px;

    label[for="nav-trigger"] {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 36px;
      height: 36px;
      z-index: 2; // keep it over the menu icon
      cursor: pointer;
    }

    #navmenu-close-icon {
      display: block;
    }

    .home-nav-link {
      display: inline;
    }

    .mobile-menu-icon {
      @include bg-image-fixed('images/hamburger-menu.svg', 23px, 17px);
      display: block;
    }


    // trigger nav menu close
    input ~ .trigger {
      clear: both;
      display: none;
    }

    // trigger nav menu open
    input:checked ~ .trigger {
      //padding-bottom: 5px;
      width: $menu-width;
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100%;
      background-color: #fbfbfb;
      box-shadow: -5px 1px 10px 0 overlay-value(0.38);

      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 20;
    }

  }
}


/**
 * Site footer
 */

// center the footer container
.site-footer {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  background-color: #fbfbfb;
}

.footer-container {
  box-sizing: border-box;
  border-top: 1px solid overlay-value(0.25);
  height: 72px;
  padding-top: 10px;
  max-width: 936px;
  width: 100%;

  @include media-query($on-tablet) {
    max-width: 617px;
  }

  @include media-query($on-mobile) {
    max-width: 295px;
  }

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  @include lato-font(300);
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;

  @include media-query($on-mobile) {
    font-size: 11px;
    line-height: 13px;
  }
}

.social-media-list {
  .margin-excl-first-child {
    &:not(:first-child) {
      margin-left: 13px;
    }

    @include media-query($on-mobile) {
      &:not(:first-child) {
        margin-left: 7px;
      }
    }
  }

  // shared
  .social-media-icon {

    display: inline-block;
    width: 16px;
    height: fit-content;

    @include media-query($on-mobile) {
      width: 12px;
    }
  }

  .email-icon {
    width: 16px;
    height: 13px;
    position: relative;

    @include media-query($on-mobile) {
      width: 12px;
      height: 10px;
    }
  }

  .phone-icon {
    background: url(images/phone-icon.png) no-repeat;
    background-size: contain;
    width: 19px;
    height: 19px;
  }

  .location-icon {
    background: url(images/location-icon.png) no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
  }
}


/**
 * Page content
 */
.page-content {
  width: 100%;
  background-color: #fbfbfb;

  // default page font
  @include lato-font(300);
  font-size: 16px;
  line-height: 19px;
}
