// https://codepen.io/jonnitto/pen/OVmvPB?editors=0100

// Font Sizes
/* defaults
$mf-font-size: 1rem !default;
$mf-active-font-size: $mf-font-size * 0.8 !default;
$mf-active-top: -$mf-font-size !default;
*/

@mixin material-design($mf-font-size, $mf-active-font-size, $mf-gap: null) {
  $mf-active-top: -$mf-font-size !default;

  // Margin & Paddings
  //$mf-gap: $mf-font-size * 1.5 !default;
  $mf-gap: $mf-font-size * 2 * 1.5 !default;
  $mf-spacer: $mf-font-size / 8 !default;

  // Colors
/* defaults
$mf-input-color: # !default;
$mf-border-color: #999 !default;
$mf-label-color: lighten($mf-border-color, 10%) !default;
$mf-active-color: darken($mf-border-color, 10%) !default;
$mf-focus-color: #337ab7 !default;
$mf-error-color: #d9534f !default;
*/
  $mf-input-color: $dark-text-color !default;
  $mf-border-color: rgba(65, 67, 67, 0.6) !default;
  $mf-label-color: rgba(65, 67, 67, 0.6) !default;
  $mf-active-color: darken($mf-border-color, 10%) !default;
  $mf-focus-color: rgba(65, 67, 67, 0.6) !default;
  $mf-label-focus-color: $dark-text-color !default;
  $mf-error-color: #d0021b !default;

  // Animation
  $mf-transition-speed: 0.28s !default;




  .material-design {

    .form-help {
      margin-top: $mf-spacer;
      margin-left: $mf-spacer;
      color: $mf-label-color;
      font-size: $mf-active-font-size;

      .form-group & {
        position: absolute;
        width: 100%;
      }
    }

    .form-group {
      position: relative;
      margin-top: ($mf-gap);
      margin-bottom: ($mf-gap);
    }


    .form-group {
      // scss-lint:disable QualifyingElement, NestingDepth
      input {
        height: ($mf-font-size * 1.9);
      }

      textarea {
        resize: none;
      }

      .control-label {
        position: absolute;
        top: ($mf-font-size / 4);
        pointer-events: none;
        padding-left: $mf-spacer;
        z-index: 1;
        color: $mf-label-color;
        font-size: $mf-font-size;
        font-weight: normal;
        transition: all $mf-transition-speed ease;
      }

      .bar {
        position: relative;
        border-bottom: ($mf-font-size / 16) solid $mf-border-color;
        display: block;

        // needed for prevent under line from disappearing on some fields
        @include media-query($on-mobile) {
          border-bottom: 0.96px solid $mf-border-color;
        }

        &::before {
          content: '';
          height: ($mf-font-size / 8);
          width: 0;
          left: 50%;
          bottom: ($mf-font-size / -16);
          position: absolute;
          background: $mf-focus-color;
          transition: left $mf-transition-speed ease, width $mf-transition-speed ease;
          z-index: 2;
        }
      }

      input {
        display: block;
        background: none;
        padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
        font-size: $mf-font-size;
        border-width: 0;
        border-color: transparent;
        line-height: 1.9;
        width: 100%;
        color: transparent;
        transition: all $mf-transition-speed ease;
        box-shadow: none;
      }


      input:focus,
      input:valid,
      input.form-file,
      input.has-value,
      textarea:focus,
      textarea:valid,
      textarea.form-file,
      textarea.has-value {
        color: $mf-input-color;

        ~ .control-label {
          font-size: $mf-active-font-size;
          color: $mf-active-color;
          top: $mf-active-top;
          left: 0;
        }
      }

      input {
        &:focus {
          outline: none;

          ~ .control-label {
            color: $mf-label-focus-color;
          }

          ~ .bar {
            &::before {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }


    .has-error {
      .legend.legend,
      &.form-group .control-label.control-label {
        // Prevent !importantRule
        color: $mf-error-color;
      }

      &.form-group {
        .form-help,
        .helper {
          color: $mf-error-color;
        }
      }

      .bar {
        &::before {
          background: $mf-error-color;
          left: 0;
          width: 100%;
        }
      }
    }

  }
}

@include material-design(16px, 14px, 55px);
@include media-query($on-tablet) { @include material-design(14px, 12px, 37px); }
@include media-query($on-mobile) { @include material-design(12px, 12px); }
