// assuming fontsize is default, in base
$on-mobile: 682px;
$common-padding: 100px;
$common-padding-mobile: 40px;
$other-common-padding-mobile: 60px;

.project-page {
  background-color: #fff;

  .project-container {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    width: 100%;

    .pad-top {
      padding-top: $common-padding;
      @include media-query($on-mobile) { padding-top: $other-common-padding-mobile; }
    }

    .pagination {
      display: flex;
      justify-content: space-between;

      svg > path { fill: none; }

      a, a:visited {
        color: $dark-text-color;
        svg > path { stroke: $dark-text-color; }
      }
      a:hover, a:active {
        color: $darker-accent-color;
        svg > path { stroke: $darker-accent-color; }
      }

      .prev svg, .next svg {
        width: 6px;
        height: 11px;
      }
    }

    .pagination-bottom {
      padding-top: $common-padding;
      @include media-query($on-mobile) { padding-top: $common-padding-mobile; }
    }
  }

  .project-section {
    letter-spacing: -0.1px;
    padding: $common-padding 0px;
    display: flex;
    justify-content: center;
    background-color: $light-text-color;
    width: 100%;

    @include media-query($on-mobile) {
      padding: $common-padding-mobile 0px;
    }

    .labeled-image-container {
      display: flex;
      flex-direction: column;
      padding-top: $common-padding;
      @include media-query($on-mobile) { padding-top: $common-padding-mobile; }
      max-width: 776px;
      align-self: center;

      .logo-iterations {
        display: block;
        align-self: center;

        a:not(:first-child) {
          margin-left: 88px;
        }
      }

      & > a {
        display: block;
        align-self: center;
      }
      & > span {
        display: block;
        align-self: flex-end;
        @include lato-font();
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0px;
        margin-top: 10px;
        color: #5d6060;
      }
    }

    .inner {
      width: 936px;
      margin: 0px $page-margin;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      // section header
      & > h2 {
        @include lato-font();
        margin: 0px 0px 15px 0px;
        padding: 0px;
        font-size: 18px;
        line-height: 22px;
      }
      // section summary
      & > span {
        font-size: 18px;
        line-height: 28px;
        display: block;
      }
    }

    // extends the one in layout
    .two-col-container {
      line-height: 31px;
      font-size: 20px;

      .desc {
        max-width: 376px;
        width: 100%;

        @include media-query($on-mobile) {
          max-width: 100%;
        }
      }

      .labeled-image-container {
        width: auto;
        padding-top: 0px;
      }
    }

    .center {
      display: flex;
      justify-content: center;
    }
  }

  .project-section:first-child {
    padding: 70px 0px $common-padding 0px;
    @include media-query($on-mobile) { padding: $common-padding-mobile 0px; }
    &.no-pad-bottom {
      padding-bottom: 0px;
    }
  }
  .project-section:last-child {
    padding: $common-padding 0px 70px 0px;
    @include media-query($on-mobile) { padding: $common-padding-mobile 0px 40px 0px; }
  }

  // alternating background colors
  .project-section:nth-child(even) {
    background-color: #fff;
  }

  .project-description-container {
    max-width: 942px;
    margin-top: 70px;
    letter-spacing: -0.1px;

    .project-title {
      text-align: center;
      display: block;
      @include lato-font(700);
      font-size: 32px;
      line-height: 39px;
      text-transform: uppercase;
    }

    .project-description {
      text-align: center;
      display: block;
      font-size: 22px;
      line-height: 27px;
    }

    .two-col-container.two-col-align-left {
      justify-content: flex-start;

      .spotify-margin-left {
        margin-left: 66px;
      }
      .heem-margin-left {
        margin-left: 78px;
      }

      @include media-query($on-mobile) {
        img {
          max-width: 243px;
        }
        .spotify-margin-left {
          margin-left: 0px;
          margin-top: 20px;
        }
        .heem-margin-left {
          margin-left: 0px;
          margin-top: 20px;
        }
      }
    }

    @include media-query($on-mobile) {
      margin-top: $common-padding-mobile;

      .two-col-container {
        flex-direction: column;
        align-items: center;
        img {
          max-width: 400px; // this and width need to be paired to make it dynamic as page width changes
          width: 100%;
          margin-top: 40px; // double margin top to compensate for .two-col-align-left items' margin-top that wont be applied here
        }
      }
    }
  }

  // margin in two col rr iterating project section
  .col-margin-rr-iterating-right { margin-right: 50px; }
  .col-margin-rr-iterating-bottom { margin-bottom: 50px; }

  .prototype-container {
    margin-top: 50px;
    a {
      @include lato-font();
    }
  }

  .pad-spans span:not(:first-child) {
    padding-bottom: 15px;
  }

  .labeled-image-container.spotify-protos {
    max-width: 801px;
  }
  .spotify-protos .left, .spotify-protos .middle {
    margin-right: 3px;
  }
  .spotify-protos .pad-top {
    padding-top: 90px;
  }
}
