<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <div id="page-overlay"></div>
    {% include contact.html %}
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>

  <script src="{{ '/assets/js/jquery-3.2.1.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/default.js' | relative_url }}"></script>
  <script src="https://smtpjs.com/smtp.js"></script>

</html>
